<% content_for :page_title, "Edit your review" %>
<section class="w-full">
  <h3 class="mb-2 text-lg font-bold">
    Edit your review
  </h3>
  <%= render "form", cancel_path: review_path(@review) %>
</section>
