<section>
  <%= @review.title %>
  <%= simple_format @review.body %>
  <%= @review.score %> /10
  <%= link_to "Delete this review", @review, data: { 'turbo-method': :delete, 'confirm': "Are you sure?" } %>
</section>
